<!-- JavaScript at the bottom for fast page loading -->
<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery.min.js" type="text/javascript"><\/script>')</script>
<script type="text/javascript" src="/js/libs/jquery-ui.js"></script>
<script src="/min/?g=js" type="text/javascript"></script>
<!--<script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '<?php echo Configure::read('Google.UA');?>']);
_gaq.push(['_setDomainName', '<?php echo Configure::read('Google.Site');?>']);
_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']); 
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
/* ]]> */
</script>-->